@charset "utf-8";

.bordacanto5 {
	border-radius: 5px 5px;
	
}

.fundorow_cinza {
	background-color:#f5f5f5;
}
.margin20 {
	margin-left: 5px !important;
	margin-right: 5px !important;	
}
.margin10 {
	margin-left: 0px !important;
	margin-right: 0px !important;
	
}
/* Cores do alerta da agenda */

.fundobranco {
	background-color:#FFFFFF !important;
}
.fundolaranja {
	background-color:#FDE8BA !important;
}
.fundoverde {
	background-color:#BBF5C6 !important;
}
.fundovermelho {
	background-color:#FFC0C1 !important;
}

.canto, a{
	border-radius: 7px 7px !important;
	color:#000000;
}

