@charset "utf-8";

input.error{
	border:1px solid #F00 !important;
	color:red !important;
}

.panel{
	margin:0 auto;
	max-width:1200px;
}

#box{
	margin-top:60px;
	padding-left:10px;
}

.navbar-left{
	min-width:200px;
}

.list-group-item{
	transition:background-color 0.2s;
	-webkit-transition:background-color 0.2s;
	-moz-transition:background-color 0.2s;
}

.list-group-item:hover{
	background-color:#F6F6F6;
}

.campo_obrigatorio{
	color:#F00;
	font-weight:bold;
}

.dropdown-menu a{
	padding-top:10px !important;
	padding-bottom:10px !important;
}

.texto_aberto{
	width:100% !important;
}

.etapas li{
	float:left;
	padding:10px;
	background-color:#F0F0F0;
	margin-right:2px;
	opacity:0.7;
}

.etapa_ativa{
	opacity:1 !important;
}

#fundo_inscricao{
	background-color:#1B3C68;
}

#side_menu{
	left:0;
	top:50px;
	float:left;
	width:200px;
	height:100%;
	background-color:#FAFAFA;
	border-right:1px solid #EBEBEB; 
	font-size:13px;
	position:fixed;	
	z-index:10;
	padding-top:20px;
}

#side_body{
	margin-left:208px;
	margin-right:10px;
}

.btn_indexaluno{
	padding:17px 6px;
	text-decoration:none;
	float:left;
	text-align:center;
	width:130px;
	height:90px;
	color:#333;
	transition:background-color 0.3s;
	-webkit-transition:background-color 0.3s;
	-moz-transition:background-color 0.3s;
	border:1px solid #EFEFEF;
	margin-right:10px;
	font-size:12px;
}

.btn_indexaluno span{
	font-size:25px;
	margin-bottom:10px;
}

.btn_indexaluno i{
	font-size:25px;
	margin-bottom:10px;
}

.btn_indexaluno:hover{
	background-color:#EFEFEF;
	text-decoration:none;
	color:#333;
	box-shadow:#D6D6D6 2px 2px 5px;	
}

#menu_horizontal{
	margin-top:51px;
	margin-bottom:-50px;
}

.bloco_index{
	margin-top:15px;
}

.titulo_index{
	color:#333;
}

#login_rm{
	background-color:rgba(0,0,0,0.8);
	color:white;
	font-weight:bold;
	font-size:16px;
	position:fixed;
	height:100%;
	width:100%;
	top:0px;
	z-index:9999;
	margin:0 auto;
	text-align:center;
	display:none;
	padding-top:10%;
	padding-left:10px;
	padding-right:10px;
}

#sidebar_avisos{
	position:absolute;
	z-index:99;
	top:0px;
	right:0px;
	float:right;
	width:310px;
	background-color:#FCFCFC;
	border-left:1px solid #F0F0F0;	
	height:100%;
	padding-top:60px;
	padding-left:15px;
	padding-right:10px;
	color:#666666;
	font-size:13px;
	display:none;
}

#sidebar_avisos h4{
	color:#7E7E7E;
}

@media screen and (max-width: 700px) {
	
	#side_menu{
		padding-top:0;
		position:relative;
		top:0;
		left:0;
		width:100%;
		background-color:#FFF;
		text-align:center;
		margin-bottom:10px;
	}
	
	#side_body{
		margin-left:0px;
		margin-right:0px;
	}
	
	.btn_indexaluno{
		padding:20px 10px;
		text-decoration:none;
		float:left;
		text-align:center;
		width:150px;
		height:auto;
		color:#333;
		font-size:13px;
		transition:background-color 0.3s;
		-webkit-transition:background-color 0.3s;
		-moz-transition:background-color 0.3s;
		border:1px solid #EFEFEF;
		margin-right:10px;
	}
	
	#sidebar_avisos{
		width:200px;
	}
	
}


/* CSS - ATIVIDADES */
#menu_categorias{
	margin-top:0px;
}

#menu_categorias a{
	color:#000000 !important;
}

#submenu{
	padding:10px 5px; 
	margin-bottom:0px;
}

#submenu a{
	padding-top:10px;	
}

#submenu ::before{
	margin-top:-5px;
}

#menu_atividades{
	padding:10px;
	max-width:800px;
	position:absolute;
}

#menu_atividades a{
	padding-left:12px;
	padding-right:12px;
}

#menu_atividades button{
	padding-left:12px;
	padding-right:12px;
}
.margin10 {
	margin: 10px 10px 10px 10px;
}

